.profile__edit-button {
  display: inline-block;
  margin-left: calc(18px - .4em);
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 750px) {
  .profile__edit-button {
    position: absolute;
    width: 18px;
    height: 18px;
  }
}
